<div id="et-main-area">
 
  <div id="main-content">
 
    <article id="post-549" class="post-549 page type-page status-publish hentry">
      <div class="entry-content">
        <div class="et-l et-l--post">
          <div class="et_builder_inner_content et_pb_gutters3">
            <div class="et_pb_with_border et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
            </div>
            <div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
              <div class="et_pb_row et_pb_row_0">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
 
                  <div class="et_pb_text_inner">
                    <h1 class="customText1 mb-0"><span style="color: #ffffff;">Add Client</span></h1>
                  </div>
 
                </div>
              </div>
            </div>
            <div class="et_pb_section et_pb_section_2 et_section_regular">
              <div class="et_pb_row et_pb_row_1">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
                  <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </article>
 
 
 
  </div>
 
 
</div>

 

 
<div class="container">

<mat-card>
  <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <mat-label><h2>Client</h2></mat-label><br>            
          <div class="mat-form-field-container">
        
 
            <mat-label><h5>Name *</h5></mat-label><br>            
             <mat-form-field appearance="fill" class="mat-form-field-half-width">
                      <input  matInput type="text" formControlName="Name" placeholder="Name">
                      <mat-error *ngIf="form.get('Name')?.hasError('required')">This field is required</mat-error>
              </mat-form-field>

            <mat-label><h5>Address*</h5></mat-label><br>
              
                  <mat-form-field [style.width.%]="30" appearance="fill" >
                      <input matInput type="text" formControlName="Address" placeholder="Address">
                      <mat-error *ngIf="form.get('Address')?.hasError('required')">This field is required</mat-error>
                  </mat-form-field>
              
      </div>
         
          <div class="mat-form-field-container">
            <mat-label><h5>City *</h5></mat-label><br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                  <mat-form-field [style.width.%]="30" appearance="fill">
                      <input matInput type="text" formControlName="City" placeholder="City">
                      <mat-error *ngIf="form.get('City')?.hasError('required')">This field is required</mat-error>
                  </mat-form-field>
              </div>  
              <mat-label><h5>State *</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="State" placeholder="State">
                        <mat-error *ngIf="form.get('State')?.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
              </div>  
          </div>

          <div class="mat-form-field-container">
    
          </div>

          <div class="mat-form-field-container">
              <mat-label><h5>ZipCode *</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="ZipCode" placeholder="ZipCode">
                        <mat-error *ngIf="form.get('ZipCode')?.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
              </div>  
          </div>

            <div class="mat-form-field-container">
              <mat-label><h5>Logo </h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="Logo" placeholder="Logo">
                    </mat-form-field>
                  </div>
          </div>

          <div class="mat-form-field-container">
              <mat-label><h5>Country *</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="Country" placeholder="Country">
                        <mat-error *ngIf="form.get('Country')?.hasError('Country')">This field is required</mat-error>
                    </mat-form-field>
                  </div>
          </div>

          <div class="mat-form-field-container">
              <mat-label><h5>Period of Invoice</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="Period_of_Invoice" placeholder="Period of Invoice">
                        
                    </mat-form-field>
                  </div>
          </div>

          
          <div class="mat-form-field-container">
              <mat-label><h5>Invoice Date</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="Invoice_Date" placeholder="Invoice Date">
                        
                    </mat-form-field>
                  </div>
          </div>

          <div class="mat-form-field-container">
              <mat-label><h5>Procedure</h5></mat-label><br>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             
                    <mat-form-field [style.width.%]="30" appearance="fill">
                        <input matInput type="text" formControlName="Procedure" placeholder="Procedure">
                        
                    </mat-form-field>
                  </div>
          </div>




          
 
      <!-- <mat-radio-group formControlName="selectedOption2" color="primary" labelPosition="after">
              <mat-radio-button value="Yes" class="my-radio-button">Yes</mat-radio-button>
              <mat-radio-button value="No" class="my-radio-button">No</mat-radio-button>
            </mat-radio-group>-->
           
            <br>                      

          
     
        <!--  <div class="mat-form-field-container">
              <input  type="file" formControlName="fileInput" (change)="onFileSelected($event)" accept=".pdf">
          </div> -->
          
          <section>
              <div class="example-button-row">
                  <button mat-raised-button color="primary" type="submit" >Save</button><span></span>
                  <button mat-raised-button color="" aria-label="back" (click)="back()"  style="padding-left: 1%;">
                      Back
                  </button>
              </div>
          </section>
          <!-- Botón de enviar -->
      
        </form>
  </mat-card-content>
</mat-card>
</div>