<div class="modal-dialog {{ modalClass }}" role="document">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Notes</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
    <!-- <textarea class="form-control" rows="5" [(ngModel)]="this.textAreaContent"></textarea>-->
      <textarea class="form-control" rows="5" ></textarea>    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="activeModal.close('Save')">Save</button>
    </div>
  </div>
   
