<app-menu headerName="New Proposal"></app-menu>

<div class="ht-ctc ht-ctc-chat ctc-analytics ctc_wp_desktop style-2 ht_ctc_animation no-animations" id="ht-ctc-chat"
style="position: fixed; bottom: 15px; right: 15px; cursor: pointer; z-index: 99999999;">

</div>

  <div >
  <!--<div  class="container example-card" with>
 
       Pestaña 1 -->
   
        <mat-card class="mat-elevation-z0 outline" >
  <mat-card-content>
      <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()" >
         
          <div class="mat-form-field-container">
            <label><h1>Please introduce Proposal Information</h1></label>         


              <mat-form-field [style.width.%]="33" appearance="fill" class="mat-form-field-width" >
                <mat-label>Select a client</mat-label>
                <mat-select  (selectionChange)="SelectClient($event)"  formControlName="Name">
                  <mat-option value="0">
                    --Select a client--
                  </mat-option>
                  <mat-option *ngFor="let option of ClientName" [value]="option.ID">
                    {{ option.Name }}
                </mat-option>
              </mat-select>
                <mat-error *ngIf="form.get('Name')?.hasError('required')">
                    You must select an option.
                </mat-error>
                
            </mat-form-field>&nbsp;
             <button style="padding-left: 1%;" (click)="AddClient()" mat-raised-button color="primary">New Client</button>  &nbsp; 
        <mat-form-field [style.width.%]="20" appearance="fill" color="warn"  style="padding-left: 1%;">
          <mat-label>Proposal No.</mat-label>
          <b><h1 style="background-color:rgb(150, 196, 218);">
            <input  [readonly]="true" matInput type="text" formControlName="NoProposal" placeholder="No. Proposal">
            <mat-error *ngIf="form.get('NoProposal')?.hasError('required')">This field is required</mat-error>
           </h1> </b>
        </mat-form-field>
        <mat-form-field  [style.width.%]="20"  appearance="fill" class="mat-form-field-half-width" style="padding-left: 1%;" >
                        <mat-label>Proposal Request Date</mat-label>
                       <input [formControl]="dateControl" matInput [matDatepicker]="picker" >
                       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                       <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
                        
                    
        <mat-form-field  [style.width.%]="20"  appearance="fill" class="mat-form-field-half-width" style="padding-left: 1%;" >
                        <mat-label>Proposal Submitted</mat-label>
                       <input formArrayName="ProposalSubmitted" matInput [matDatepicker]="picker1" >
                       <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                       <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        

      
        



      </div>




            <div class="mat-form-field-container">
              
              
                    <mat-form-field [style.width.%]="80" appearance="fill">
                        <mat-label>Reference Title</mat-label>
                        <input matInput type="text" formControlName= "ProjectDescription" placeholder="Please introduce the Project Name">
                    </mat-form-field>
                 
          </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">             

            <mat-form-field [style.width.%]="100" appearance="fill" >
              <mat-label>Scope of Service</mat-label>
              <textarea  matInput type="text" maxlength="800" formControlName="Scope" placeholder="General Description of Project"></textarea>
             </mat-form-field>            
          </div>
 
          <div class="mat-form-field-container">
              
                          
                    <mat-form-field [style.width.%]="24" appearance="fill">
                        <mat-label>Contract Value</mat-label>
                        <input matInput type="text" formControlName="ContractValue" placeholder="Contract Value">
                        
                    </mat-form-field>
                 

              
                          
                    <mat-form-field [style.width.%]="24" appearance="fill" style="padding-left: 1%;" >
                        <mat-label>Estimated Bussiness Days</mat-label>
                        <input matInput type="text" formControlName="EstimatedHours" placeholder="Estimated Bussiness Days">
                        
                    </mat-form-field>
                 
      

         
            
                       
                 
                
        </div>

       






          
 
      <!-- <mat-radio-group formControlName="selectedOption2" color="primary" labelPosition="after">
              <mat-radio-button value="Yes" class="my-radio-button">Yes</mat-radio-button>
              <mat-radio-button value="No" class="my-radio-button">No</mat-radio-button>
            </mat-radio-group>-->
           
            <br>                      

          
     
        <!--  <div class="mat-form-field-container">
              <input  type="file" formControlName="fileInput" (change)="onFileSelected($event)" accept=".pdf">
          </div> -->
          
          <section>
              <div class="example-button-row">
                  <button mat-raised-button color="primary" type="submit" >Save</button><span></span>
                  <button mat-raised-button color="" aria-label="back" (click)="back()"  style="padding-left: 1%;">
                      Back
                  </button>
              </div>
          </section>
          <!-- Botón de enviar -->
      
        </form>
  </mat-card-content>
</mat-card>
</div>
<footer id="main-footer">
 
 
 
  <div id="footer-bottom">
    <div class="container clearfix">
  <ul class="et-social-icons">
 
  <li class="et-social-icon et-social-instagram">
  <a href="#" class="icon">
 
  </a>
  </li>
 
  </ul>         </div>
  </div>
  </footer>